# .gitignore

# Ignore the env directory
/venv/

# Other commonly ignored file patterns
*.log
*.cache
*.pyc
*.swp
__pycache__/
*.egg-info/
*.egg
.idea/workspace.xml
#db.sqlite3

# Add other patterns as required...
