{% extends "Base/base.html" %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock extraHead %}

{% block content %}
    <div class="container details-container">
        <!--    <div class="row g-2">-->
        {% if news.cover_image %}
        <div class="container">
            <div class="hero-header d-flex justify-content-center background-img-color">
                <img class="img-fluid infinite banner-img"
                     src="{{ news.cover_image.url }}"
                     alt="" style="width: 300px">
            </div>
            {#                </div>#}
        </div>
     {% endif %}
        <div class="news-details-wrapper">
            <h2 class="title-details">{{ news.title }}</h2>
            <p class="sub-title-details">{{ news.sub_title }}</p>
            <p class="description-details">{{ news.description }}</p>
            <!--        </div>-->


            <div class="news-card-footer">
                {% if user.is_authenticated %}
                    {% if news in userLikedNews %}
                        <form method="post" action="{% url 'news_details' news_id=news.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="unlike_news" value="{{ news.id }}">
                            <span><button class="like-btn" type="submit"><i
                                    class="bi bi-hand-thumbs-up-fill"
                                    style="color:blue"></i></button>
                                {{ news.likes.count }}</span>
                        </form>
                    {% else %}
                        <!-- Show like button when count is 0 -->
                        <form method="post" action="{% url 'news_details' news_id=news.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="like_news" value="{{ news.id }}">
                            <span><button class="like-btn" type="submit"><i
                                    class="bi bi-hand-thumbs-up"
                                    style="color:blue"></i></button>
                                {{ news.likes.count }}</span>

                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
