{% extends "Base/base.html" %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/glossary.css' %}">
{% endblock extraHead %}

{% block banner %}
     <div class="container-fluid hero-header bg-light py-2 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-3 animated slideInDown">Cryptoglossary</h1>
                </div>
                <div class="col-lg-3 animated fadeIn">
                    <img class="img-fluid animated pulse infinite banner-img"
                         src="{% static 'images/glossary.png' %}"  alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
<div class=" container alphabet-navigation">
    <ul>
        {% regroup terms by term|first as term_grouped %}
        {% for group in term_grouped %}
            <li ><a href="#{{ group.grouper }}" class="text-link text-underline">{{ group.grouper }}</a></li>
        {% endfor %}
    </ul>
</div>
{% regroup terms by term|first as term_grouped %}

{% for group in term_grouped %}
    <span>
    <h1 id="{{ group.grouper }}" class="text-secondary">#{{ group.grouper }}</h1></span>
    <table class="table">
        <tbody>
            {% for term in group.list %}
                <tr class="rounded">
                    <td><a href="{% url 'term_detail' term_id=term.id %}" class="text-link">{{ term.term }}</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
</div>
{% endblock %}
