{% extends "Base/base.html" %}
{% block content %}
  <div class="container">
    <h2 class="mt-4 mb-4">Create NFT</h2>
    <form method="post" action="{% url 'create_nft' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.symbol.label_tag }}
        {{ form.symbol }}
        {% if form.symbol.errors %}
          <div class="invalid-feedback">{{ form.symbol.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.image.label_tag }}
        {{ form.image }}
        {% if form.image.errors %}
          <div class="invalid-feedback">{{ form.image.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% if form.description.errors %}
          <div class="invalid-feedback">{{ form.description.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
        {% if form.quantity.errors %}
          <div class="invalid-feedback">{{ form.quantity.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.is_for_sale.label_tag }}
        {{ form.is_for_sale }}
        {% if form.is_for_sale.errors %}
          <div class="invalid-feedback">{{ form.is_for_sale.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.current_price.label_tag }}
        {{ form.current_price }}
        {% if form.current_price.errors %}
          <div class="invalid-feedback">{{ form.current_price.errors }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.currency.label_tag }}
        {{ form.currency }}
        {% if form.currency.errors %}
          <div class="invalid-feedback">{{ form.currency.errors }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary">Create NFT</button>
    </form>
  </div>
{% endblock %}
