<!-- nft_detail.html -->
{% extends "Base/base.html" %}
{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/nft_detail.css' %}">
{% endblock extraHead %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-5">NFT Details</h1>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ nft.image.url }}" class="img-fluid">
                        <p class="card-text">Owner: {{ nft.owner.username }}</p>
                        <p class="card-text">Price: {{ nft.price }} {{ nft.currency }}</p>
                        <p class="card-text">{{ nft.description }}</p>
                        {% if nft.is_for_sale %}
                            <button class="btn btn-primary">Buy Now</button>
                        {% endif %}
                        {% if nft.is_bidding_allowed %}
                            <button class="btn btn-primary">Bid Now</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Add additional content or sidebar here if needed -->
            </div>
        </div>
    </div>
{% endblock content %}
