<!-- NFTdetail.html -->

{% extends "Base/base.html" %}
{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/nft_detail.css' %}">
{% endblock extraHead %}

{% block banner %}
    <div class="container-fluid hero-header bg-light py-2 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-3 animated slideInDown">{{ nft.symbol }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <div class="col-lg-12 animated fadeIn">
                    <img class="img-fluid animated pulse infinite banner-img"
                         src="{{ nft.image.url }}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="details-container">
                    <p class="card-text"><strong>Owner:</strong> {{ nft.company_name }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ nft.current_price }} {{ nft.currency }}</p>
                    <p class="card-text">{{ nft.description }}</p>
                    {% if nft.is_for_sale %}
                        <form method="post" action="{% url 'buy_nft' nft.symbol %}">
                            {% csrf_token %}
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                            <input type="hidden" name="stripeToken">
                            <button type="submit" class="btn btn-success">Buy NFT</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
