{% extends "Base/base.html" %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock extraHead %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{{ post.title }}</h1>
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text"><small class="text-muted">Posted by {{ post.created_by }} on {{ post.created_at|date:"F j, Y" }}</small></p>
            <p class="card-text"><i class="fa fa-eye"></i> {{ post.views }} views</p>
        </div>
    </div>

    <h2 class="mt-4">Comments</h2>
    <div class="card mt-3">
        <div class="card-body">
            {% if comments|length == 0 %}
                <p>No comments...</p>
            {% else %}
            {% for comment in comments %}
                <p>{{ comment.content }}</p>
                <p><small class="text-muted">Comment by {{ comment.created_by }} on {{ comment.created_at|date:"F j, Y" }}</small></p>
            {% endfor %}
            {% endif %}
        </div>
    </div>

   <div class="pagination justify-content-center mt-4">
        <ul class="pagination">
            {% if comments.has_previous %}
                <li class="page-item">
                    <a class="page-link btn btn-light" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link btn btn-light" href="?page={{ comments.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link btn btn-light">Page {{ comments.number }} of {{ comments.paginator.num_pages }}</span>
            </li>
            {% if comments.has_next %}
                <li class="page-item">
                    <a class="page-link btn btn-light" href="?page={{ comments.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link btn btn-light" href="?page={{ comments.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock content %}
