{% extends 'Base/base.html' %}
{% load static %}
{% block extraHead %}

<!--    <link rel="stylesheet" href="{% static 'css/news.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/learn.css' %} ">
{% endblock extraHead %}

{% block content %}
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            {% for category in categories %}-->
<!--                <div class="col-lg-4 col-md-6 mb-4">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h4>{{ category.name }}</h4>-->
<!--                            <ol>-->
<!--                                {% for course in category.learn_set.all %}-->
<!--                                    <li>-->
<!--                                        {{ course.title }} <br><h6>Description -</h6> {{ course.description }}<br>-->
<!--                                        <a href="{{ course.external_link }}">{{ course.external_link }}</a>-->
<!--                                    </li>-->
<!--                                {% endfor %}-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->

{% endblock content %}