{% extends 'Base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock extraHead %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <h4>{{ category.name }}</h4>
                <div class="course-cards d-flex flex-nowrap overflow-auto">
                    {% for course in category.learn_set.all %}
                        <div class="card mr-3">
                            <div class="card-body">
                                {{ course.title }} <br><h6>Description -</h6> {{ course.description }}<br>
                                <a href="{{ course.external_link }}">{{ course.external_link }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
