{% extends 'Base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/learn.css' %}">
{% endblock extraHead %}
{% block title %}Learn Center{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid hero-header bg-light py-2 mb-5">
        <div class="container ">
            <div class="row g-5 align-items-center py-5">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-3 animated slideInDown">Learn about blockchain, crypto and NFTs</h1>
                </div>
                <div class="col-lg-3 animated fadeIn">
                    <img class="img-fluid animated pulse infinite banner-img"
                         src="{% static 'images/topic_images/learn_page.png' %}"
                         alt="" style="width: 300px">
                </div>
            </div>
        </div>
    </div><br/>
    <h4>Browse by topic</h4>

    <!-- Scrollable container for buttons -->
    <center><div class="centered-buttons-scroll">
        {% for category in categories %}
            <button class="button1" type="button" onclick="scrollToCategory('{{ category.name }}')">{{ category.name }}</button>&nbsp;&nbsp;
        {% endfor %}
    </div></center>
    {% if user.is_superuser or user.is_staff %}
    <div class="container mt-3">
        <!-- Centered container for the "Create New Topic" and "Create Learn" buttons -->
        <div class="d-flex justify-content-center">
            <!-- Create New Topic button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#topicModal">
                Create Topic
            </button>
            <div style="width: 10px;"></div>
            <!-- Create Learn button -->
            <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#learnModal">
                Create Subtopic
            </button>
        </div>

        <!-- Modal for Create New Topic -->
        <div class="modal position-fixed" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="topicModalLabel">Create New Topic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for creating a new topic -->
                        <form method="post" action="">
                            {% csrf_token %}
                            <table>{{ form.as_table }}</table><hr style="margin: 35px 2px">
                            <button type="submit"  class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Creating Subtopic -->
        <div class="modal position-fixed" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="learnModalLabel">Create New Subtopic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for creating a new Learn entry -->
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>{{ form2.as_table }}</table><hr style="margin: 35px 2px">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <h3 id="{{category.name}}">{{ category.name }}</h3>
                <hr style="margin-left: auto; margin-right: auto">
                {% for course in category.learn_set.all %}
                    <a class="card" href="/learn/{{ course.slug }}/">
                        <div class="header">
                            {% if course.image %}
                            <img class="img-fluid me-2" src="{{ course.image.url }}" alt="{{ course.title }}">
                            {% else %}
                            <img src="{% static 'images/topic_images/no-image-available.png' %}" alt="{{ course.title }}">
                            {% endif %}
                            <h4>{{ course.title }}</h4>
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/learn.js' %}"></script>
{% endblock script %}