{% extends "Base/base.html" %}
{% block title %}Coin-Rush Stocks{% endblock %}
{% block content %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/stocks.css' %}">
{% endblock extraHead %}


<marquee behavior="scroll" direction="left">
TRENDING STOCKS : BTC ETH ADA BNB TIA OXT SOL LINK
</marquee>

<button onclick="openPopup()">Stock Filters</button>
<div id="filterPopup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>

        <h2><i class="fas fa-filter"></i> Filter Options</h2>
        <form method="get" action="{% url 'home' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Apply Filters</button>
        </form>
    </div>
<div class="overlay" id="overlay" onclick="closePopup()"></div>


<script>
    function openPopup() {
        document.getElementById('filterPopup').style.display = 'block';
                document.getElementById('overlay').style.display = 'block';

    }

    function closePopup() {
        document.getElementById('filterPopup').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';

    }
</script>

<script>
    function openPopup() {
        document.getElementById('filterPopup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('filterPopup').style.display = 'none';
    }
</script>







    <div class="row mt-4">
        <div class="col-lg-8">
               <ul id="stock-sort" class="nav nav-pills d-flex justify-content-end mb-2">
    <li class="nav-item">
        <span class="mx-2"><i class="fa fa-sort"></i></span>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.GET.order_by == 'max-price' or request.GET.order_by == None  or request.GET.order_by == '' %} active {% else %} inactive {% endif %}" aria-current="page" href="?order_by=max-price">Max Price</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if request.GET.order_by == 'min-price' %} active {% else %} inactive {% endif %}" href="?order_by=min-price">Min Price</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if request.GET.order_by == 'max-market-cap' %} active {% else %} inactive {% endif %}" href="?order_by=max-market-cap">Max Market Cap</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if request.GET.order_by == 'min-market-cap' %} active {% else %} inactive {% endif %}" href="?order_by=min-market-cap">Min Market Cap</a>
    </li>
</ul>
                    </div>
                </div>

    <h1>Stocks</h1>
    {% if stocks %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Price</th>
                <th>Market Cap</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td><img src="{{ stock.image.url }}" alt="{{ stock.symbol }}" width="30"
                             height="30"> {{ stock.symbol }}</td>
                    <td>{{ stock.company_name }}</td>
                    <td>{{ stock.current_price }}</td>
                    <td>{{ stock.market_cap }}</td>
                    <td>{{ stock.last_updated }}</td>
                    <td><a href="{% url 'buy_stock' stock.symbol %}" class="btn btn-primary">
                        <i class="bi bi-cart"></i> Buy
                    </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No stock data available</p>
    {% endif %}
{% endblock %}
