{% extends "Base/base.html" %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock extraHead %}

{% block content %}

    <pre>{{ data | safe }}</pre>

    <div class="container my-5">
        <div class="card w-75 mx-auto rounded shadow" >
            <div class="card-body">
                <h3 class="card-title my-2 text-center ">Currency Converter</h3>

                <form method="post" class="needs-validation" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.amount.id_for_label }}">Amount</label>
                        {{ form.amount }}
                    </div>
                    <div class="row">
                    <div class="col-sm-6 form-group mt-2">
                        <label for="{{ form.currency_from.id_for_label }}">From Currency</label>
                        {{ form.currency_from }}
                    </div>
                    <div class="col-sm-6 form-group mt-2">
                        <label for="{{ form.currency_to.id_for_label }}">To Currency</label>
                        {{ form.currency_to }}
                    </div>
                        </div>
                    <center><button type="submit" class="btn btn-primary btn-block mt-2">Convert</button></center>
                </form>

                {% if result %}
                    <div class="mt-4">
                        <h4>Result:</h4>
                        <p>{{ result }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
