*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.news-card-link,
.news-card-link:hover {
    text-decoration: none;
    color: inherit;
}


.news-card {
    padding: 10px;
    box-shadow: 0 0 8px -1px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sub-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 10; /* Limit to 5 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.container{
    margin-top: 20px;
}