/* Styles for the popup container */
.popup {
    display: none; /* Set to none by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.stock-button {
    margin-left: 50px; /* Adjust the margin as needed */
}
/* Styles for the overlay background */
.overlay {
    display: none; /* Set to none by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
